*{
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

body{
    height: 200vh;
    transition: 0.5s;
    scroll-behavior: smooth;
}

/* ---- REKLAM ALANI ---- */
.brand-top{
    background-color: #7D0633;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    height: 60px;
}

.brand-top-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(16px, 0.9vw , 30px);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.brand-top-text span{
    font-size: clamp(16px, 1vw , 36px);
    text-decoration: underline;
    cursor: pointer ;
}
/* ---- TOGGLE ---- */
.toggle-wrapper{
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

.toggle-icon{
    color: goldenrod;
}

.toggle{
    width: 60px;
    background-color: black;
    position: relative;
    height: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toggle-ball{
    height: 22px;
    width: 22px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    transition: 0.5s;
}

/* ---- STICKY NAVBAR ---- */
.navbar-wrapper{
    background-color: rgb(244, 242, 236);
    display: flex;
    justify-content: space-around;
    height: 40px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: 0.5s;
}

/* ---- NAVBAR CONTENT ---- */
.logo-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-wrapper{
    display: flex;
    align-items: center;
}

.menu-list{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
        font-size: clamp(16px, 0.7vw , 30px);

    font-weight: 100;
}
.menu-list-item a{
    color: black;
    transition: 0.3s;
}


.menu-list-item a:hover{
    color:#7D0633;
}

.selected a{
    color: #7D0633;
    font-weight: bold;
}

.login-list{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 32px;
    list-style: none;
        font-size: clamp(16px, 0.8vw , 30px);

}

.login-list-item a{
    font-weight: 100;
    font-size: clamp(16px, 0.7vw , 30px);
    transition: 0.3s;
    color: black;
}

.login-list-item a:hover{
    color: #7D0633;
}

/* ---- BANNER ---- */
.main-banner-wrapper{
    background-image: 
    linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url("img/GUDE ÇİÇEKÇİLİK (2).png");
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 3px;
    transition: 0.3s;
}

.main-banner-wrapper h2{
    font-size: clamp(156px, 10vw , 330px);
    color: wheat;
    letter-spacing: 90px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    

}

.main-banner-wrapper p{
    font-size: clamp(50px, 4vw , 150px);
    padding-left: 500px;
    color: wheat;
    transition: 0.4s;
}

/* ---- SLOGAN ---- */
.slogan-wrapper{
    padding: 96px;
    height: 30%;
}

.slogan-text{
    text-align: center;
    line-height: 50px;
}

.slogan-text h2{
    font-size: clamp(46px, 3vw , 100px);
    color: #7D0633;
}

.slogan-text p{
    font-size: clamp(20px, 2vw , 60px);
}

/* ---- LAYOUT ---- */
.container{
    padding: 25px 80px;
    transition: 0.4s;
}

.hamburger {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

.mobile-menu{
    display: none;
}

/* SOCIAL MEDIA DESKTOP START */
.mobile-social-media-container{
    display: none;
    transition: 0.3s;

}


/* SOCIAL MEDIA DESKTOP END */


/* TABLET RESPONSIVE START */
@media(max-width: 1200px){

.layer h3{
    writing-mode: vertical-lr;
}

.main-banner-wrapper h2{
    font-size: 96px;
    color: wheat;
    letter-spacing: 60px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: 0.3s;

}

.main-banner-wrapper p{
    
    font-size: 40px;
    padding-left: 100px;
    color: wheat;
    transition: 0.4s;

}

.footer-policy{
    display: none !important;
}

} 
/* TABLET RESPONSIVE END */

/* MOBILE RESPONSIVE */

@media(max-width:768px) {
    .container{
    padding: 0 0px;
}
.text-banner{
     margin: 60px 0 !important;

}
.social-media-title h2{
   
    margin: 0 0 0 0 !important;

}
.footer-menu{
    display: none !important;
}

.sabit{
    width: 200px !important;
}

.footer-adress-content{
    row-gap: 10px !important;
}
.card-discount{
    border-radius: 10px 0 0 0;
}
.card-picture img{
    width: 100%;
    height: 40vh !important;
    object-fit: cover;
    border-radius: 10px !important;
    border: 1px solid black;


}
.card-price{
    padding: 10px 0 25px 25px !important;
}
.card-container{
    width: 80% !important;
    padding: 0 50px;

}

.card-wrapper{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;


}

/* SOCIAL-MEDIA MOBIL START */
.mobile-social-media-container{
    display: grid;
}
.social-media-container{
    display: none;
}
.mobile-social-media-wrapper{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(5rem,1fr));
    justify-content: center;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.mobile-text p{
color: #7D0633;
}
.social-media-title h2{
    font-size: 26px !important;
}

.social-media-title{
    margin: 40px 0;
    transition: 0.3s;

}
ul{
    padding-inline-start: 0px;
}
.mobile-icon a {
    height: 100%;
    width: 100%;
    font-size: 56px;
    color: #7D0633;
}
/* SOCIAL-MEDIA MOBIL END */
.brand-top{
    width: 100vw;
}
.brand-top-wrapper{
    width: 100vw;
    transition: 0.3s;

}

.toggle-wrapper{
    justify-content: end;

    width: 90%;
}
.navbar-wrapper{
    background-color: rgb(244, 242, 236);
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10px 0px;
    position: sticky;
    width: 100%;
}
/* .logo-wrapper{
    width: 250px;
} */

.logo-wrapper img{
    height: 50px;
    width: 100px;
    object-fit: contain;
}

.basket-span{
    font-size: 14px;
    display: none;
}

.basket-item i{
    font-size: 26px;
    display: block;
}
.main-banner-wrapper p{
    padding-left: 00px;
}

.menu-container, .login-item{
    display: none;
}

.main-banner-wrapper h2{
    font-size: 60px;
    color: wheat;
    letter-spacing: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    

}

.main-banner-wrapper p{
    font-size: 26px;
    padding-left: 60px;
    color: wheat;
    transition: 0.4s;
}

.slogan-text h2{
    font-size: 34px;
    color: #7D0633;
}

.slogan-text p{
    font-size: 16px;
}
.slogan-wrapper{
    padding: 30px 20px;
    height: 30%;
}

.slogan-text{
    text-align: center;
    line-height: 30px;
}

.login-container{
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.hamburger{
    font-size: 26px;
    display: block;
}

.mobile-menu{
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    background: rgb(244, 242, 236);
    border-radius: 10px 0 0 10px;
    /* Animasyon başlangıç hali (gizli) */
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    gap: 15px;
       
}
.hamburger-close{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 26px;
}
.mobile-menu a{
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: #7D0633;
    

}

.mobile-menu.active {
       transform: translateX(0);
    opacity: 0.95;

    }

  .main-banner{
    padding: 30px 0;
  }
  .main-banner-wrapper{
    height: 60vh;
  }
}
/* RESPONSIVE END */

/* DARK MODE */

.footer-container.dark{
        background-color: #ee7d49;


}
footer.dark{
        background-color: #ee7d49;

}
.toggle-ball.dark{
    background-color: #F2A07B;
    transform: translateX(-30px);
    transition: 0.5s;
}
body.dark{
    background-color: #31112C;
}

.navbar-wrapper.dark{
    background-color: #ec692c;
}

.navbar-wrapper a.dark{
    color: #FBDCC4;
}

.navbar-wrapper a.dark:hover{
    color:#7D0633;
}

.logo-wrapper.dark{
    display: flex;
    align-items: center;
}

.logo-wrapper img.dark{
    border-radius: 0 30px;
}

.slogan-text p.dark{
    color: whitesmoke;
}

.all-products.dark{
    color: #7D0633;
    background-color: #fbdcc4;
}
.all-products.dark:hover{
    color: #fbdcc4;
    background-color: transparent;
}
img.dark{
        filter: brightness(50%);

}

.card-picture img.dark{
        filter: brightness(70%);
        transition: 0.3s;

}

.card-picture img.dark:hover{
        filter: brightness(100%);

}

img.dark:hover{
    filter: brightness(100%) ;

}

p.dark{
    color: #FBDCC4;
}

a.dark{
    color: #FBDCC4 ;
}


h2.dark{
   color: #FBDCC4 !important; 
}

h3.dark{
    color: #FBDCC4;
}

button.dark{
       color: #FBDCC4; 
       border-color: #FBDCC4;

}

button.dark:hover{
       color: #7D0633; 
       border-color: #FBDCC4;
       background-color: #FBDCC4;

}
/* DARK MODE END */


/* PRODOCUT */

.card-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(20rem,1fr));
    gap: 30px;

}

.card-picture img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 7px;
}

.card-wrapper{
    margin-bottom: 70px;

    position: relative;
    transition: 0.4s ;
}
.card-wrapper:hover{
    transform: scale(1.02);
}

.card-discount{
    position: absolute;
    padding: 10px 30px;
    top: 0;
    color: #fff;
    font-weight: 100;
    background-color: #7D0633;
}

.card-discount p{
    font-weight: 100;
    font-size: clamp(14px, 0.9vw , 30px);
}

.card-title{
    font-family: "Caudex", serif;
    font-size: clamp(20px, 1vw , 42px);
    font-weight: 700;
    padding: 10px 20px 0 20px;

}

.card-price{
     font-family: "Caudex", serif;
    font-size: clamp(18px, 1vw , 36px);
    font-weight: 400;
    color: #7D0633;
    display: flex;
    column-gap: 7px;
    padding: 0 20px;

}
.shop-button{
    display: flex;
    justify-content: center;
}

.shop-button-wrapper button{
    background-color: #fff;
    border: 1px solid #7D0633;
    color: #7D0633;
    transition: 0.4s;
    padding: 20px 60px;
    font-size: clamp(16px, 0.7vw , 40px);


}
.old{
    text-decoration: line-through;
}
.shop-button-wrapper button:hover{
    background-color: #7D0633;
    border: 1px solid #7D0633;
    color: white;
}
.banner-image{
    position: relative;
    
}
.text-banner{
     margin: 120px 0;

}
.banner-text-container{
    display: flex;
    justify-content: center;
}
.text-banner-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    color: white;
     font-family: "Caudex", serif;
     font-size: clamp(16px, 2vw , 300px);

}
.text-banner-content p{
        font-family: "Caudex", serif;

margin: 20px 0;
font-size: clamp(16px, 1.2vw , 150px);
font-weight: 100;
}
.banner-image img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    filter: brightness(50%);
}

.order-now{
    font-size: clamp(16px, 0.7vw , 40px);
    background-color: #fff;
    border: 1px solid white;
    color: white;
    transition: 0.4s;
    padding: 20px 40px;
    background-color: transparent;
    font-family: "Caudex", serif;

}

.order-now:hover{
    background-color: white;
    color: #7D0633;
}

.social-media-container{
    width: 100%;
    
}

.social-media-title h2{
    text-align: center;
     font-family: "Caudex", serif;
     color: #7D0633;
    transition: 0.3s;
    font-weight: 700;
        font-size: clamp(46px, 2vw , 100px);

    margin: 100px 0 0 0;

}

.social-media-grid{

    display: grid;
    margin-top: 40px;
        grid-template-columns:repeat(auto-fit,minmax(10rem,1fr));
        height: 70vh;
        box-shadow: 0px 0px 20px 1px #7D0633;
        border-radius: 72px;
        margin-bottom: 50px;
        background-color: rgb(192, 94, 122,0.2);
        gap: 30px;
        align-items: center;
        padding: 37px;

}

.social-media-card img{
    width: 100%;
        height: 70vh;
        border-radius: 35px;
        filter: contrast(30%);
        filter: brightness(40%);
        position: relative;
        

}

.s-icon{
    justify-self: center;
    align-self: center;
    position: absolute;
     font-size: 9rem;
     color: rgb(226, 195, 136);
     

}
.social-media-card{
    position: relative;
    display: grid;
    

}
.layer{

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    transition: 0.5s;
    top: 0;
    left: 0;
    text-align: center;
    
}

.layer:hover{
    background-color: #7D0633;
    border-radius: 35px;

}

.layer h3,.icon{
    width: 100%;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    font-size: 46px;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
    left: 50%;

}



.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.layer:hover i{
    opacity: 1;
    bottom: 40%;

}
/* FOOTER START */
footer{
    margin-top: 100px;
    background-color: rgb(244, 242, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: clamp(16px, 1vw , 60px);
    
}

.footer-container{
    width: 100%;
        background-color: rgb(244, 242, 236);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

}

.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sabit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
    border: 2px solid white;
    text-align: center;
}

.footer-menu-content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-policy-content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-adress-content{
    display: flex;
    flex-direction: column;
    row-gap: 90px;
}

.footer-content{
    text-align: center;
    margin-bottom: 50px;
    align-self: center;
        height: 100%;

}

footer a{
    color: black;
    transition: 0.3s ease-in-out;
}

footer a:hover{
    color:  #7D0633;
}

/* FOOTER END */

/* WHATSAPP BALL START */

.whatsapp-ball-wrapper{
    display: flex;
    justify-content: end;
     position: fixed;
    bottom: 0;
    right: 0;
    align-items: center;
    gap:5px;
    color: rgb(37, 211, 102);
    padding: 0 40px 40px 0;


}

.whatsapp-ball-wrapper p{
    font-size: 18px;
     opacity: 0;
    transform:  translateX(50%);
    width: 0;

}

.whatsapp-ball-wrapper:hover p{
     opacity: 1;
    bottom: 40%;
    transform:  translateX(0%);
    transition: 0.5s ease;
    width: 100%;

}

.whatsapp-ball-wrapper a{
    color: rgb(37, 211, 102);

}

.wp-ball{
    font-size: 56px;
}
/* WHATSAPP BALL END */

/* About Us AND Mission START */
.aboutmision{
    display: flex;
    border-right: 1px black solid;
    border-left: 1px black solid;
    gap: 10px;
    margin-top: 70px;

}

.left-side{
    border-right: 2px black solid;
    flex: 1;
    padding: 40px;
    line-height: 20px;

}
.right-side{
    flex: 1;
    padding: 40px;
    line-height: 20px;


}
.right-side p{
    padding: 40px;
    line-height: 20px;

}

.left-side p{
    padding: 40px;
    line-height: 20px;
}
/* About Us AND Mission END */

section {
    animation: fadeUp linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
        transition: 1s;

}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
        transition: 1s;
    }
    to {
        opacity: 1;
        transform: translateY(0);
        transition: 1s;

    }
}